<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
>
	<testsuites>
		<testsuite name="WebFinger">
			<directory suffix=".php">./tests/phpunit/includes/</directory>
		</testsuite>
	</testsuites>
</phpunit>
